{% extends 'base.html' %}
{% block title  %}{{ post.title_tag }}-{{ post.author.id }}{% endblock %}
<h1>POST</h1>
{% block content %}
<h2>{{ post.title }}-{{ post.author.id }}</h2>
<small>By: {{ post.author.first_name }} {{ post.author.last_name  }}</small> - {{ post.post_date }}<br/>

<hr>
<br/>
{{post.body|safe}}
<br/><br/>
<a href="{% url 'home'  %}" class="btn btn-secondary">Back to home</a>
{% if user.is_authenticated  %}
{% if user.id == post.author.id %}
<a href= "{% url 'update_post' post.pk %}">Edit</a>
-<a href= "{% url 'delete_post' post.pk %}">Delete</a><br/>
<a href= "{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
{% endif %} 
{% endif %} 

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated  %}
    {% if liked %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn-danger">Unlike <3 </button>-
    {% else %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn-secondary">Like <3 </button>-
    {% endif %}
{% else %}
<a class="nav-link" href="{%  url 'login' %}">Login</a> to like posts
{% endif %}
        
        
        --{{ total_likes }} likes
        </form>

{% endblock %}





