
{% extends 'base.html' %}
{% block content  %}




   

<h1>Welcome to blogsss</h1>

<ul>
{% for post in object_list %}
<li>
    <ul style="list-style-type: none;">
        
           <li> <a href= "{% url 'article_detail' post.pk %}">    {{ post.title }} </a>
            -<a href="{% url 'Auth_detail' post.pk  %}"> {{ post.author.first_name }} - {{ post.author.last_name}}-</a></li>
        <li>-<a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
            <small>-{{ post.post_date }}-</small>
            {% if user.is_authenticated  %}
                {% if user.id == post.author.id %}
                    -<a href= "{% url 'update_post' post.pk %}">Edit</a>
                    -<a href= "{% url 'delete_post' post.pk %}">Delete</a><br/>
        
                {% endif %}
            {% endif %}</li>
            
        <li>
            {{ post.snippet }}
        <!----{{post.body|slice:":100"|safe}}-->  
        </li>
    </ul>

</li>






{% endfor %}
</ul>
{% endblock %}