{% extends 'base.html' %}
{% block title  %}Login{% endblock %}
{% block content  %}




   

<h1>Login</h1>
<br/><br/>
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <script>
        var form = document.getElementsByTagName("input")

        for(var field in form){
            form[field].className += 'form-control'
        }
    </script>
    <!-- <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="Username">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
    -->
    <button class="btn btn-secondary" > Login </button>
    <br/>

    Not registered? Sign Up <a href="{% url 'register' %}"> Here </a>
{% endblock %} 